<html>
<head>
	<title>Registration Page</title>
	<link rel="stylesheet" href="{{url_for('static', filename='/main.css')}}" type="text/css">
</head>
<body>
    <h1>Predict your flight delay chances</h1>

        <form action="/predict" method="POST">
            <label>Flight Number</label>
            <input type="number" name="flightnumber" id="flightnumber" placeholder="Flight Number">

            <label>Month of Travel</label>
            <input type="number" name="month" id="month" placeholder="Month of Travel">

            <label>Travel day of Month</label>
            <input type="number" name="day" id="day" placeholder="Enter day of month ">

            <label>Travel day of Week</label>
            <input type="number" name="week" id="week" placeholder="Enter day of week ">

            <label>Delay in Departure</label>
            <input type="number" name="dep_delay" id="dep_delay" placeholder="Enter the delay in departure" step=".01">

            <label>Scheduled Arrival time</label>
            <input type="number" name="schdl_arriv" id="schdl_arriv" placeholder="Enter the time of scheduled arrival">


            <input type="submit" value="Predict" class="sbt_btn">
        </form>
</body>
</html>